<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--EntityFramework Setting-->
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <!--MySQL Connection Setting-->
  <connectionStrings>
  <add name="Database" providerName="MySql.Data.MySqlClient" connectionString="Server=192.168.11.17;port=3306;Database=MarketWalker_Dev;Uid=MarketManager;password=P@ssw0rd;" />
  </connectionStrings>
  <!--Nlog Setting-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="SystemLog" xsi:type="File" encoding="UTF-8" layout="[${longdate}] [${uppercase:${level:padding=5}}] ${message} - ${callsite}() ${exception:format=tostring}" fileName="${basedir}/logs/SystemLog.log" archiveNumbering="Date" archiveFileName="${basedir}/logs/{#}-SystemLog.log" archiveEvery="Day" archiveDateFormat="yyyyMMdd" />
      <target name="SqlLog" xsi:type="File" encoding="UTF-8" layout="[${longdate}] [${uppercase:${level:padding=5}}] ${message}" fileName="${basedir}/logs/SqlLog.log" archiveNumbering="Date" archiveFileName="${basedir}/logs/{#}-SqlLog.log" archiveEvery="Day" archiveDateFormat="yyyyMMdd" />
    </targets>
    <rules>
      <logger name="System" levels="Info,Warn,Error,Fatal" writeTo="SystemLog" />
      <logger name="Sql" levels="Info" writeTo="SqlLog" />
    </rules>
  </nlog>
</configuration>